@charset "utf-8";
 
/*** Style Reset ***/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	border:0;
}

body {
     line-height: 1.125;
	 font-family:Microsoft YaHei,Simsum,serif;
}
/*::-webkit-scrollbar-track-piece{
     opacity: 30;
     -webkit-border-radius:0;
 }
::-webkit-scrollbar{
    width:8px;
    height:8px;
}
::-webkit-scrollbar-thumb{
    height:50px;
    background-color:rgba(51,77,111,0.3);
    opacity: 80;
    -webkit-border-radius:4px;
    outline-offset:-2px;
    border: 1px solid #677e9e;
}
::-webkit-scrollbar-thumb:hover{
    height:50px;
    background-color:#334d6f;
    -webkit-border-radius:4px;
}*/

ol, ul {
	list-style-type:none;
}
a{
	text-decoration:none;	
}
button, a {
	outline:none
}
fieldset, img, a img {
	border:0
}
input, textarea {
	padding: 0;
	margin: 0;
}

/* remember to define focus styles! */

:focus {
	outline: 0;
}

/* remember to highlight inserts somehow! */

ins {
	text-decoration: none;
}

del {
	text-decoration: line-through;
}

/* tables still need 'cellspacing="0"' in the markup */

table {
	border-collapse: collapse;
	border-spacing: 0;
}
caption, th, td {
	text-align:left;
	font-weight:normal
}
table, td, th {
	vertical-align:middle
}

/*** public style lib ***/
.clearevery{ 
	clear: both;
	height:0;
	clear:both;
	overflow:hidden;
}
.clearfix {
	*zoom:1;
}
.clearfix:after, .clearfix:before {
	display:block;
	content:"clear";
	height:0;
	clear:both;
	overflow:hidden;
	visibility:hidden;
}
input[type="checkbox"] { 
    cursor: pointer;
    height: 13px;
	width: 13px;
    margin: 0;
    padding: 0;
    vertical-align: middle;
	border:none;
	outline:none;
	font-size:12px;
}
.warning_icon{
	background-image:url(/static/images/public/icon/smallicon.png);	
	background-repeat:no-repeat;
	padding: 4px 10px;
}
.hide{
	display:none;	
}
.show, .current{
	display:block;	
}
.show_inline{
	display:inline-block;	
}
.centerBody{
	width:990px;
	position:relative;
	margin:0 auto;
	min-height:600px;	
}
.sildLeft{
	width:270px;
	position:absolute;
	left:15px;
	top:60px;
	border-radius:5px;
	border:4px solid #0099cd;	
	
}
.sildRight{
	position:absolute;
	right:0px;
	top:60px;
	width:650px;
	border-radius:5px;
	border:4px solid #0099cd;	
	
}
/*sssssssssssssssssssssssssssssssssssssssssss*/
.circles_friends a.friendDetail {display:block;padding:5px 10px 5px 32px;background:#F5F5F5;cursor:pointer;}
.circles_friends a.friendDetail .name{
    width:300px;
    max-width:306px;

    white-space:nowrap;
    text-overflow:ellipsis;
    -o-text-overflow:ellipsis;
    overflow:hidden;
}
.circles_friends a.friendDetail span.photoEnter { display:none; }
.circles_friends a.friendDetail:hover { background:#eef3f4;text-decoration:none; }
.circles_friends a.friendDetail:hover span.photoEnter { display:inline; }
.circles_friends .friendDetail .checkbox { display:block;float:left;width:34px;height:34px;margin:3px 5px 3px 0;background:url(../images/button_chat1832d7.png) no-repeat 0 -493px;  }
.circles_friends .friendDetail .checkbox img{ width:34px;height:34px; }
.circles_friends .friendDetail .checked img{ width:34px;height:34px;background:url(../images/button_chat1832d7.png) no-repeat -34px -493px;  }
.circles_friends .friendDetail .avatar{ display:block;float:left;width:36px;height:36px;}
.circles_friends .friendDetail .avatar img{ display:block;width:33px;height:33px;border:1px solid #FFF;}
.circles_friends .friendDetail .nickName { display:block;float:left;font-size:12px;color:#343434;margin-left:10px;text-shadow:0 1px 0 rgba(255,255,255,1); word-wrap:normal;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;text-align:left;margin-top:5px;padding-top:4px; }
.circles_friends .friendDetail .photoEnter{
    display:block;
    height:25px;
    width:23px;
    margin-top:4px;
    background:url(../images/button0217ced3.png) no-repeat -116px -124px;
}
.circles_friends .friendDetail .photoEnter:active{
    background-position:-143px -124px;
}
.circles_friends .friendDetail .nickName .emoji{
    margin-top:-5px;
    margin-top:0px\9;
    vertical-align:bottom;
}
.circles_friends .friendDetail .nickName .name{ max-width: 187px; width:180px\9; padding-top:4px; margin-top:-4px; white-space:nowrap; text-overflow:ellipsis; -o-text-overflow:ellipsis; overflow:hidden;}
.clr { clear:both; height:1px; overflow:hidden;display:block; }
.circles_friends .groupTitle {display:block; text-decoration:none; font-size:12px; color: #5B7991; padding:8px 31px 3px;border-top: 1px solid #D0D8E2; color:#536175; text-shadow:none;line-height:20px;text-align:left; }
.circles_friends .groupTitle .lapIcon{
    width:17px;
    height:20px;
    display:block;
    background:url(../images/button0217ced3.png) no-repeat -109px -34px;
}
.circles_friends a.groupTitle:active .lapIcon{
    background-position:-121px -34px;
}
.circles_friends .groupTitle .lapedIcon{
    background-position:-135px -34px;
}
.circles_friends a.groupTitle:active .lapedIcon{
    background-position:-149px -34px;
}
.circles_friends .groupTitle .lapIcon
	.createNewChat .starFriendsTitle {
    border-top:1px solid #F7F7F7;
}
.circles_friends .groupTitle .iconFavoriteFriend { width:22px;height:18px;margin-left:-24px;background:url(../images/button0217ced3.png) no-repeat -91px -35px;vertical-align:top; }
.circles_friends .groupTitle .groupTitleLetter{
    font-size:14px;
    font-weight:bold;
}
