<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lejoying.wxgs"
    android:installLocation="preferExternal"
    android:versionCode="1"
    android:versionName="1.0"
     >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="19" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" 
       >
        <activity
            android:name="com.lejoying.wxgs.activity.MainActivity"
            android:label="@string/app_name" 
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="com.lejoying.wxgs.activity.CheckActivity"
            android:label="@string/title_activity_check"
            android:theme="@android:style/Theme.Black.NoTitleBar" >
        </activity>
        <activity
            android:name="com.lejoying.wxgs.activity.LoadingActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Black.NoTitleBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.lejoying.wxgs.activity.LoginActivity"
            android:label="@string/title_activity_login"
            android:theme="@android:style/Theme.Black.NoTitleBar" >
        </activity>
        <activity
            android:name="com.lejoying.wxgs.activity.OnlineActivity"
            android:label="@string/title_activity_online"
            android:theme="@android:style/Theme.Black.NoTitleBar" >
        </activity>
        <activity
            android:name="com.lejoying.wxgs.activity.SendActivity"
            android:label="@string/title_activity_send"
            android:theme="@android:style/Theme.Black.NoTitleBar" >
        </activity>
        <activity
            android:name="com.lejoying.wxgs.activity.RegisterActivity"
            android:label="@string/title_activity_register"
            android:theme="@android:style/Theme.Black.NoTitleBar" >
        </activity>
        <activity
            android:name="com.lejoying.wxgs.activity.ChatActivity"
            android:label="@string/title_activity_chat"
            android:theme="@android:style/Theme.Black.NoTitleBar" 
            android:windowSoftInputMode="adjustResize"
            >
        </activity>
        <activity
            android:name="com.lejoying.wxgs.activity.NearActivity"
            android:label="@string/title_activity_near"
            android:theme="@android:style/Theme.Black.NoTitleBar" >
        </activity>
        <activity
            android:name="com.lejoying.wxgs.activity.NeighboursActivity"
            android:label="@string/title_activity_neighbours"
            android:theme="@android:style/Theme.Black.NoTitleBar" >
        </activity>
        <activity
            android:name="com.lejoying.wxgs.activity.SetActivity"
            android:label="@string/title_activity_set"
            android:theme="@android:style/Theme.Black.NoTitleBar" >
        </activity>
        <activity
            android:name="com.lejoying.wxgs.activity.MyActivity"
            android:label="@string/title_activity_my"
            android:theme="@android:style/Theme.Black.NoTitleBar" >
        </activity>
        <activity
            android:name="com.lejoying.wxgs.activity.InformationActivity"
            android:label="@string/title_activity_information"
            android:theme="@android:style/Theme.Black.NoTitleBar" >
        </activity>
        <activity
            android:name="com.lejoying.wxgs.activity.AffirmActivity"
            android:label="@string/title_activity_affirm"
            android:theme="@android:style/Theme.Black.NoTitleBar" >
        </activity>
        <activity
            android:name="com.lejoying.wxgs.activity.GroupInfoActivity"
            android:label="@string/title_activity_group_info"
            android:theme="@android:style/Theme.Black.NoTitleBar" >
        </activity>
        <activity
            android:name="com.lejoying.wxgs.activity.MsgActivity"
            android:label="@string/title_activity_msg"
            android:theme="@android:style/Theme.Black.NoTitleBar" >
        </activity>
        <activity
            android:name="com.lejoying.wxgs.activity.NewGroupActivity"
            android:label="@string/title_activity_new_group"
            android:theme="@android:style/Theme.Black.NoTitleBar" >
        </activity>
        <activity
            android:name="com.lejoying.wxgs.activity.GroupAffirmActivity"
            android:label="@string/title_activity_group_affirm"
            android:theme="@android:style/Theme.Black.NoTitleBar" >
        </activity>
        <activity
            android:name="com.lejoying.wxgs.activity.MyMsgActivity"
            android:label="@string/title_activity_my_msg"
            android:theme="@android:style/Theme.Black.NoTitleBar" >
        </activity>
        <activity
            android:name="com.lejoying.wxgs.activity.MsgInfoActivity"
            android:label="@string/title_activity_msg_info"
            android:theme="@android:style/Theme.Black.NoTitleBar"  >
        </activity>
    </application>

</manifest>
